@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please type in date of your choice in any date format to view Mars Rover images for the given date</p>

    <h2 class="mb-0">
        <label class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Get Mars Rover Photos
        </label>
    </h2>
    <form id="MarsRoverPhotos" asp-controller="Home" asp-action="GetMarsRoverPhotosByDate" method="post">

        <div>
            <div class="row">
                <label for="Date" class="col-sm-2">Earth Date</label>
                @Html.TextBox("datevalue", "", new { @class = "col-sm-7 form-control input-lg" })
                <button class="text-black-50 button col-sm-3" role="button" type="submit" id="GetPhotosButton">Get Photos</button>
            </div>
        </div>


    </form>

    <div id="LoadingSpinner" style="display:none" role="status">
        <img id="loading-image" src="~/img/loading.gif" alt="Loading..." />
    </div>
    <script language="JavaScript" type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $("#GetPhotosButton").click(function () {
            $("#LoadingSpinner").show();
        });
    </script>

</div>
